.vagrant/machines/app/virtualbox/action_provision
.vagrant/machines/app/virtualbox/action_set_name
.vagrant/machines/app/virtualbox/creator_uid
.vagrant/machines/app/virtualbox/id
.vagrant/machines/app/virtualbox/index_uuid
.vagrant/machines/app/virtualbox/synced_folders
.vagrant/machines/ci/virtualbox/action_provision
.vagrant/machines/ci/virtualbox/action_set_name
.vagrant/machines/ci/virtualbox/creator_uid
.vagrant/machines/ci/virtualbox/id
.vagrant/machines/ci/virtualbox/index_uuid
.vagrant/machines/ci/virtualbox/synced_folders
.vagrant/machines/control/virtualbox/action_provision
.vagrant/machines/control/virtualbox/action_set_name
.vagrant/machines/control/virtualbox/creator_uid
.vagrant/machines/control/virtualbox/id
.vagrant/machines/control/virtualbox/index_uuid
.vagrant/machines/control/virtualbox/synced_folders
.vagrant/machines/db1/virtualbox/action_provision
.vagrant/machines/db1/virtualbox/action_set_name
.vagrant/machines/db1/virtualbox/creator_uid
.vagrant/machines/db1/virtualbox/id
.vagrant/machines/db1/virtualbox/index_uuid
.vagrant/machines/db1/virtualbox/synced_folders
.vagrant/machines/db2/virtualbox/action_provision
.vagrant/machines/db2/virtualbox/action_set_name
.vagrant/machines/db2/virtualbox/creator_uid
.vagrant/machines/db2/virtualbox/id
.vagrant/machines/db2/virtualbox/index_uuid
.vagrant/machines/db2/virtualbox/synced_folders
.vagrant/machines/redis1/virtualbox/action_provision
.vagrant/machines/redis1/virtualbox/action_set_name
.vagrant/machines/redis1/virtualbox/creator_uid
.vagrant/machines/redis1/virtualbox/id
.vagrant/machines/redis1/virtualbox/index_uuid
.vagrant/machines/redis1/virtualbox/synced_folders
.vagrant/machines/redis2/virtualbox/action_provision
.vagrant/machines/redis2/virtualbox/action_set_name
.vagrant/machines/redis2/virtualbox/creator_uid
.vagrant/machines/redis2/virtualbox/id
.vagrant/machines/redis2/virtualbox/index_uuid
.vagrant/machines/redis2/virtualbox/synced_folders
.vagrant/machines/ticket/virtualbox/action_provision
.vagrant/machines/ticket/virtualbox/action_set_name
.vagrant/machines/ticket/virtualbox/creator_uid
.vagrant/machines/ticket/virtualbox/id
.vagrant/machines/ticket/virtualbox/index_uuid
.vagrant/machines/ticket/virtualbox/synced_folders
.vagrant/machines/web/virtualbox/action_provision
.vagrant/machines/web/virtualbox/action_set_name
.vagrant/machines/web/virtualbox/creator_uid
.vagrant/machines/web/virtualbox/id
.vagrant/machines/web/virtualbox/index_uuid
.vagrant/machines/web/virtualbox/synced_folders
